combined_dataset
converted_new
fake_images
frontend/node_modules
backend/__pycache__
images
labels
test.txt
train.txt
val.txt
backend/best_model.pth
backend/latest_checkpoint.pth

# Node.js (React frontend)
frontend/node_modules/
frontend/build/
frontend/.env

# Python (FastAPI backend)
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/*.pkl
backend/*.pth

# System files
.DS_Store
*.log
